.bodyContainer {
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    width: 100%;
    text-align: center;
}
.about {
    font-size: 1.6rem;
    margin-top: 5rem;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-weight: bold;
}