.darkGreenLine {
    width: 100%;
    height: 2.5rem;
    background-color: #14cba8;
}
.headerContainer {
    background-color: #64ffda;
    padding: 2rem 0 2rem 0;
}
.headerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.author {
    color: #000000;
    text-decoration: none;
}
.author:hover {
    color: #2bbd7e;
}