.footerContainer {
    background: #455a64;
    bottom: 0;
    color: #ffffff;
    position: fixed;    
    width: 100vw;
}
.footerContainer .container {
    display: flex;
    justify-content: flex-end;
}

.footerContact img {
    width: 10rem;
    margin-left: 2rem;
}